/* 
    колір основного тексту #757575 (Сірий) 
    колір допоміжного тексту(в основному заголовки) #212121 (Темно-чорний)
    акцент #2196F3 (Голубий)

    другор. колір фону #F5F4FA 
*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F5F5; 
    --secondary-bg-color: #2F303A;
    --primary-white-color: #FFFFFF;
    --secondary-button-color: #F5F4FA;

}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

    /* Header */
.logo {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-web {
    color: var(--accent-color);
}

.site-nav, .header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link{
    color: var(--primary-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--accent-color);
}



/* Hero */
.hero {
    background-color: var(--secondary-bg-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button*/

.button {
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}

.button.primery-button {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

.button.secondary-button {
    background-color: var(--secondary-button-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;   
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}

/* Features */
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.27;
    text-align: center;
}

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list {
    font-size: 14px;
    line-height: 1.71;
}

/* Team */
.team-section{
    background-color: var(--secondary-button-color);
}
.team-card {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-card-name {
    color: var(--title-text-color);
    font-weight: 500;
}

/* Footer */

.footer {
    background-color: var(--secondary-bg-color);
}

.logo-fr {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.address {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
}
.address-map {
    color: #FFFFFF;
}

.footer-cont .link:hover,
.footer-cont .link:focus {
    color: var(--accent-color);
}

/* Portfolio*/

.portfolio-card {
    font-size: 16px;
    line-height: 1.87;
}

.portfolio-card-name {
    color: var(--title-text-color);
    font-weight: 700;
}